.task {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.7fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 2em;
    background-color: rgb(173, 189, 204);
    width: 90%;
    height: auto;
    align-items: center;
    padding: 1%;
    margin-left: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.task-block {
    margin-bottom: 5%;
}

.task-header {
    display: grid;
    grid-template-columns: 1fr repeat(3, 5fr);
    grid-auto-rows: auto;
    grid-gap: 2em;
    background-color: rgb(216, 218, 221);
    width: 90%;
    height: auto;
    padding: 1%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin: auto;
    text-align: left;
}

p {
    font-size: 30px;
}

h2 {
    padding-right: 20%;
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

input[type="textbox"] {
    width: auto;
    height: 40px !important;
    border-radius: 10px;
    font-size: 25px;
}