
.btn-add {background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%)}
.btn-add {
    width: 90%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5vw;
    -webkit-box-shadow: 5px 5px 15px 5px #1b1147; 
    box-shadow: 5px 5px 15px 5px #18174d;
 }

 .btn-add:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
 }

 .btn-add:active {
    background-image: 
    linear-gradient(to right, #21305a 0%, 
                    #24363b  51%, #1d2438  100%);
    background-position: left center; /* change the direction of the change here */
    color: #fff;
 }


 .btn-delete {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
 .btn-delete {
      width: 100%;
      margin: 10px;
      padding: 15px;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      cursor: pointer;
      font-size: 1vw;
      -webkit-box-shadow: 5px 5px 15px 5px #2c0202; 
      box-shadow: 5px 5px 15px 5px #240101;
  }

  .btn-delete:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
  }

  .btn-delete:active {
   background-image: linear-gradient(to right, #691302 0%, 
                                 #f00870  51%, #5f1202  100%);
   background-position: left center; /* change the direction of the change here */
   color: #fff;
}


.btn-edit {background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%)}
.btn-edit {
   width: 80%;
   margin: 10px;
   padding: 15px 45px;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   cursor: pointer;
   font-size: 1vw;
   -webkit-box-shadow: 5px 5px 15px 5px #1d250a; 
   box-shadow: 5px 5px 15px 5px #061d02;
 }

 .btn-edit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
 }

 .btn-edit:active {
   background-image: linear-gradient(to right, #0e3d2e 0%, 
                                       #06203a  51%, #0f5c44  100%);
   background-position: left center; /* change the direction of the change here */
   color: #fff;
}
