.App {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  background-color: darkgrey;
  width: 70%;
  padding: 5%;;
}

.completed {
  margin-top: -5%;
  text-align: left;
  width: 100%;
}